/*Header*/

header {
    display: flex;
    justify-content: center;
    min-width: 100%;
    background-color: $bg-color;
    border-bottom: 1px solid $border-color;
    
}

.header__title{
    
    font-size: map-get($font-size-desktop, header);
    font-weight: 800;
    color: $color-primary;
    text-align: center;
    margin: 20px 20px;
    @include mobile-only{
        font-size: map-get($font-size-mobile, header);
    }
    @include tablette{
        font-size: map-get($font-size-tablette, header);
    }
    
    
}
